<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{{ settings.forum_name }}{% endblock %}</title>
</head>
<body>
	{% if settings.google_tracking_id %}
        {% include "misago/analytics.html" %}
    {% endif %}

	<div id="auth-message-mount"></div>
    <div id="snackbar-mount"></div>

	<div id="misago-container">
		{% include "misago/jumbotron.html" %}
        {% include "misago/navbar.html" %}

		<div id="page-mount">
			{% block content %}{% endblock content %}
		</div>
		content
		{% include 'misago/posting.html' %}
		{% include 'misago/footer.html' %}
	</div>
	{% include "misago/auth.html" %}

	<div class="modal fade" id="modal-mount" tabindex="-1" role="dialog" aria-labelledby="misago-modal-label"></div>

	{% if misago_agreement %}
        {% include "misago/required_agreement.html" %}
    {% endif %}
</body>
</html>